<section class="hero bg-light py-5">
  <div class="container text-center">
    <h1 class="display-4">Bem-vindo ao Sistema Mensageiro!</h1>
    <p class="lead">Serviço de Correio Elegante Eletronico.</p>
  </div>
</section>

<!-- Seção de Serviços -->
<section id="servicos" class="py-5">
  <div class="container text-center">
    <h2>Nossos Serviços</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://images.vexels.com/content/299488/preview/message-chat-bubbles-technology-icon-cf2984.png" class="card-img-top" alt="Serviço 1">
          <div class="card-body">
            <h5 class="card-title">Moderação</h5>
            <p class="card-text">Acesso com supervisão de Moderação.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://images.vexels.com/media/users/3/198184/isolated/preview/897d27fc262f890552a3f404ff2b4c28-icone-de-traco-de-carta-de-amor.png" class="card-img-top" alt="Serviço 2">
          <div class="card-body">
            <h5 class="card-title">Mensagens</h5>
            <p class="card-text">Layout Adptativo.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://img.freepik.com/psd-premium/laser-grid-um-quadro-de-sinalizacao-com-uma-exibicao-holografica-embe-y2k-shape-decoracao-de-placa-de-sinalizacao-criativa_1020495-357914.jpg" class="card-img-top" alt="Serviço 3">
          <div class="card-body">
            <h5 class="card-title">Interação</h5>
            <p class="card-text">Exibição animada e escalavél.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
