<nav class="bg-dark p-3 vh-100 d-flex flex-column justify-content-between" style="width: 250px;">
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a class="nav-link active text-white d-flex align-items-center" routerLink="">
        <mat-icon class="text-white">home</mat-icon>
        <span class="ms-2" appDestaque>Home</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link active text-white d-flex align-items-center" routerLink="novamensagem">
        <mat-icon class="text-white">create</mat-icon> <!-- Ícone de lápis -->
        <span class="ms-2" appDestaque>Cadastrar</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-white d-flex align-items-center" routerLink="listar">
        <mat-icon class="text-white">list</mat-icon>
        <span class="ms-2" appDestaque>Listar</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-white d-flex align-items-center" routerLink="exibir">
        <mat-icon class="text-white">visibility</mat-icon> <!-- Ícone de olho -->
        <span class="ms-2" appDestaque>Exibir</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-white d-flex align-items-center" (click)="logout()">
        <mat-icon class="text-white">logout</mat-icon>
        <span class="ms-2" appDestaque>Sair</span>
      </a>
    </li>
  </ul>
</nav>
